.Dictionary{
  padding: 16px 24px;
  height: 85vh;
  box-shadow: 1px 1px 3px #b4aeae;
  margin-top: 48px;
  background-color: #fdfdfd;
  background-color: #f7f7f7;
}
 .dictionary-form{
  padding: 12px 24px;
  position: relative;
}

.dictionary-search-icon{
  position: absolute;
  top: 24px;
  left: 34px;
}

.dictionary-search{
  padding: 7px 7px 7px 32px;
  box-shadow: 1px 1px 3px #b4aeae;
  border:none;
}

.dictionary-features{
  background-color:#f1f2f9;
  box-shadow: 1px 1px 3px #b4aeae;
  height: 85vh;
  margin-top: 48px;
}
