.Dictionary{
  padding: 16px 24px;
  height: 80vh;
  width: 400px;
  box-shadow: 1px 1px 3px #b4aeae;
  margin-top: 48px;
  background-color: #fdfdfd;
  /* margin: 0 auto;
  width: 300px; */
}
 .dictionary-form{
  padding: 12px 24px;
  position: relative;
}

.dictionary-search-icon{
  position: absolute;
  top: 24px;
  left: 34px;
}

.dictionary-search{
  padding: 7px 7px 7px 32px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #b4aeae;
  border:none;
  /* background-color: #FFFF; */
}

.dictionary-features{
  background-color: #F5F6FF;
  box-shadow: 1px 1px 3px #b4aeae;
  height: 80vh;
  width: 800px;
  margin-top: 48px;
}
