.Results{
  padding-top: 16px;
  position: relative;
}

.results-phonetic {
  background-color: #0D3B66;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #b4aeae;
  color: #FFFF;
}

.results-phonetic h1{
  padding-bottom: 12px;
}

.results-word{
  display: flex;
  justify-content: space-between;
}

.results-meaning{
  background-color: #fdfdfd;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #b4aeae;
  padding: 16px;
  margin-top: 24px;
}

.results-definitions{
  position: absolute;
  top: -30px;
  right: -60px;
}
